@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: ROXBOROUGH;
  font-size: 30px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}